body {
  background-color: white;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

td {
    margin: 50px;
}

#heading {
    color: rgb(217, 48, 37);
    margin-left: 50px;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

input {
    width: 400px;
    margin: 7px 0px;
    border: 1px solid grey;
}
td {
    width: 200px;
}

#field5, #field6 {
    width: 190px;
}

#field6 {
    margin-left: 0;
}

.line {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 235, 235);
    margin: 0px 20px;
}

#container {
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
  margin-left: 50px;
  width: 700px;
}

#profile {
  width: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

#profile:hover {
  cursor: pointer;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

/* li {
    float: right;
  } */

li a {
  display: block;
  color: rgb(17, 17, 17);
  text-align: center;
  text-decoration: none;
  padding: 20px 10px;
  font-size: 14px;
}

li a:hover {
  text-decoration: underline;
}

/* .btn-primary,
.btn {
  font-size: 11px;
  border-radius: 2px;
  font-weight: bold;
  border: 1px solid rgb(48, 121, 237);
  background-color: rgb(77, 144, 254);
  padding: 7px 20px;
} */

#search {
    float: right;
    font-size: 11px;
    border-radius: 2px;
    font-weight: bold;
    border: 1px solid rgb(48, 121, 237);
    background-color: rgb(77, 144, 254);
    padding: 7px 20px;
    margin-top: 10px;
}

input[type=text] {
    border: 1px solid grey;
    border-radius: 2px;
}

#heading2 {
    font-size: 18px;
}